#!/usr/bin/make -f

export MONO_SHARED_DIR=/tmp

build:
	# Build everything
	ruby debian/build.rb

	# Install monolith script
	install -D monolith debian/monolith/usr/bin/monolith

binary-indep: build

binary-arch: build
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link 
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

clean:
	rm -rf debian/build
	rm -rf debian/monolith
