#!/usr/bin/make -f

build:
	echo skip

binary:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link 
	dh_compress 
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	rm -rf debian/monolith-buildenv
